/* general */

.center {
  margin: 0 auto;
  text-align: center;
}

.bigger-text {
  font-size: 1.2em;
}

.display {
  display: block;
}

.no-display {
  display: none;
}

.no-display-imp {
  display: none !important;
}

.smartacc-color {
  background-color: #C10000 !important;
}

.text-right {
  text-align: right;
}

.pagination {
  text-align: center;
}

.section {
  overflow: auto;
}

.no-overflow-section {
  overflow: initial;
}

.index-create-btn {
  text-align: center;
  margin-top: 15px;
}

.show-delete-form {
  display: inline;
}

.container {
  margin-bottom: 20px;
}

#adm-index-logo {
  width: 300px;
}

.errors {
  padding-top: 25px;
}


/* navbar */

.nav-wrapper {
  background-color: #C10000 !important;
}

.nav-title {
  margin-left: 16px;
}


/* multiple select */

.TokenSearch> input {
  box-shadow: none !important;
  height: 32px !important;
  font-size: 1rem !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

#tokenize {
  display: none !important;
}

.close {
  font-size: 18px;
  margin-top: 6px;
  margin-left: 4px;
  color: rgba(0, 0, 0, 0.6);
}

/* tables */
table {
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}

td {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 18px;
}

td> a {
  font-size: 15px;
}

td> form> button {
  font-size: 15px;
}

/* places.show */

#map {
  width: 100%;
  height: 500px;
  margin-bottom: 34px;
}


/* recipes.index */

.index-image {
  width: 60px;
  height: 60px;
}


/* recipes.show */

.show-image {
  height: 200px;
}


/* recipes.edit */

.edit-image {
  height: 200px;
}

.tokenize-sample {
  width: 100%
}

.tag-tokenize {
  margin-bottom: 30px;
}

.ingredient-tokenize> .TokensContainer {
  height: 46px !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.unit-tokenize> .TokensContainer {
  height: 46px !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

#ingredient-col {
  width: 30%;
  float: left;
}

#amount-col {
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
}

#unit-col {
  width: 15%;
  margin-right: 5%;
  float: left;
}

#action-col {
  width: 25%;
  float: left;
}

#action-col> p {
  margin-bottom: 20px;
}

.ingredients-text> p {
  overflow: auto;
  word-break: break-all;
  height: 27px;
  overflow-y: hidden;
  font-size: 18px;
  text-align: center;
}

.ingredient-button {
  margin-top: 9px;
  height: 36px !important;
}

.ingredient-button> a {
  font-size: 14px;
}

.add-ingredient {
  margin-top: 6px;
  margin-bottom: 42px;
}

.image-section {
  overflow: inherit;
}

/* category.show */
#show-category-img-text {
  display: inline;
}